.error-messages {
  margin: 10px 0;
  background: #ffbaba;
  color: #6b2727;
  font-size: 13px;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
  .btn-close {
      cursor: pointer;
      font-size: 1.3em;
      margin-left: 8px;
  }
}
