.card-item {
  border: 1px solid lightgray;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  background: white;

  .condensed {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

    .main-text {
        justify-self: flex-start;
        flex-grow: 1;
    }

    .actions {
        text-transform: uppercase;
        font-size: 10pt;
        cursor: pointer;
        transition: .3s;
        padding: 6px 10px;
        border-radius: 5px;
        
        &:hover {
            transition: .3s;
            background: #0000001a;
        }
    }
  }

  .details {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #ffffff;
    color: #545454;
    border-top: 1px solid lightgray;    
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .label {
      font-size: 10pt;
      text-transform: uppercase;
    }

    .value {
      font-size: 14pt;
      background: #0000000d;
      padding: 10px;
      border-radius: 3px;
    }
  }
}
