@import '../../../assets/scss/colors.scss';

.navbar-container {
  background: $primary-color;
  color: white;
  width: 100%;
  

  .navbar-content {
    padding: 15px;
    max-width: 1200px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .logo-container {
    display: flex;
    align-items: center;

    .logo {
      font-size: 18px;
      display: block;
    }
  }
}
