.person-info-area {
  margin-top: 20px;
}

.operations-area {
  margin-top: 50px;

  .operation-header {
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;        
    justify-content: space-between;
    margin: 30px 0;    
    padding: 15px;
  }

  h2 {           
    font-size: 20px;
    font-weight: 300;
  }
}
