.person-info-area {
  margin-top: 20px;
}

.operations-area {
  margin-top: 50px;

  .operation-header {
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 30px 0;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  h2 {
    font-size: 20px;
    font-weight: 300;    
  }

  @media screen and (max-width: 800px) {
  }

  @media screen and (max-width: 600px) {
    .operation-header {
      align-items: center;
      justify-content: center;
    }
  }
}
