@import '../../assets/scss/colors.scss';

.backdrop-container {
  background-color: $background-color-login;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .MuiCircularProgress-colorPrimary {
    color: #a9a9a9 !important;
  }
}
